name: Deploy Website to EC2

on:
  workflow_dispatch: 
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          sudo yum install docker -y
          sudo service docker start
          sudo usermod -aG docker ec2-user
          docker stop website || true
          docker rm website || true
          docker rmi website || true
          docker build -t website .
          docker run -d -p 80:80 --name website website
