name: Deploy Website to EC2

on:
  workflow_dispatch: 
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          script: |
            cd /home/ec2-user
            sudo yum install git -y
            
            if [ ! -d "aws-devops-project" ]; then
              git clone https://github.com/Ajinkm/aws-devops-project.git
            fi
          
            cd aws-devops-project
            git pull
          
            sudo yum install docker -y
            sudo systemctl start docker
            sudo chmod 666 /var/run/docker.sock
          
            docker stop website || true
            docker rm website || true
            docker rmi website || true
          
            docker build -t website .
            docker run -d -p 80:80 --name website website
          
